*{
    font-family: 'Roboto', sans-serif;
}
.heading>b{
    color:rgba(179, 70, 155, 0.678);
    font-size: large;
}
#homestay{
    padding: 10px 15px 10px 15px ;
    font-size: small;
    color:white;
    background-color: rgb(17, 86, 107);
	width:60px;
	position:absolute;
	top:10px;
	left:400px;
}
body{
    background-image: linear-gradient(seagreen,lightblue,violet);
    margin-top:25px;
    margin-left: 400px;
    margin-right: 375px;
}
div .button {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    width:300px;
    border:none;
    text-align: center;
    display: inline-block;
    font-size: auto;
  }
.icon{
    margin-right: 10px;
}
#navitem{
	background-color:#339999;
    color:white;
	width:100%;
	height:60px;
	position:absolute;
	top:0px;
	left:0px;
}
a{
    padding:2.5px;
}
#i{
	position:absolute;
	right:500px;
	top:20px;
}
#sright{
	position:absolute;
	right:600px;
	top:660px;
}
#aright{
	position:absolute;
	right:640px;
	top:820px;
}
hr{
	color:white;
}
